*{
    margin: 0px!important;
}
body{
    background-color: rgb(226, 167, 231)!important;
}
ul{
    margin: 0px;
    padding: 0px;
    
}
.mymenu{
   
    width: 100%;
    height: 50px;
    background-color:rgb(226, 167, 231);
}
.menu li{
    list-style: none;
    width: 160px;
    height: 50px;
    background-color: rgb(94, 25, 82);
    margin-left: 0px;
    text-align: center;
    line-height: 50px;
    float: left;
    font-size: 20 px;
}

.menu li :hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
.menu li a{
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    display: block;
    text-decoration: none;
}
.logo{
    width: 100%;
    height: 50px;
}
.logo_li :hover{
    background-color: rgb(125, 22, 134)!important;
    height: 50px;
}
.navbar-menu{
    display: none;
}
.gfg {
    filter: blur(5px);
    width: 100%;
    margin-top: 0px;
    height: 500px;
    
}
          
/* designing title and tag line */
.logo1 {
    text-align:center;
    position: absolute;
    font-size: 18px;
    top: 150px;
    left: 30%;
    color: rgb(0, 0, 0);
}
h1,p {
    border: 10px solid rgb(0, 0, 0);
    padding: 10px 50px;
    margin: 10px!important;
    position: relative;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
h4 {
    position: relative;

    border: 5px solid rgb(22, 15, 15);
    background-image: linear-gradient(rgb(156, 23, 138),pink );
    padding: 10px 50px;
}

  
.column {
    float: left;
    width: 25%;
    padding: 0px;
    margin: 0px;
}
.grid-container {
  display: grid;
  grid-template-columns: 20% 80%;
  
  padding: 10px;
}
.grid-item {
  background-image: linear-gradient(rgb(175, 127, 173) , rgb(180, 150, 180));
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 15px;
  text-align: center;
  border-radius: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}

.row::after {
    content: "";
    clear: both;
    display: table;
    border-radius: 10px;
}
.row1::after {
  content: "";
  clear: both;
  display: table;
}

.column1 {
  float: left;
  width: 25%;
  padding: 0px;
  margin: 50px!important;  

}
.footer-clean {
    padding:50px 0;
    background-color:rgb(210, 179, 211);
    color:#4b4c4d;
}
.footer-clean h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
}
  
.footer-clean ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
}
  
.footer-clean ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
}
  
.footer-clean ul a:hover {
    opacity:1;
}
  
  
.footer-clean .item {
      text-align:center;
      padding-bottom:25px;
}
.footer-clean .item.social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid rgb(54, 51, 51);
    margin-left:10px;
    margin-top:22px;
    color:inherit;
    opacity:0.75;
}
  
.footer-clean .item.social > a:hover {
    opacity:0.9;
}
.footer-clean .item.social > a {
      margin-top:10px;
}
figcaption{
  background-color: rgb(85, 7, 75);
  color: white;
  font-style: italic;
  padding: 0px;
  text-align: center;
  margin: 0px;
}  
.slide{
    background-color: white;
    color: red;
}


  

  
  


